[submodule "utils/srcs/libft"]
	path = utils/srcs/libft
	url = https://github.com/oevtushe/libft.git
[submodule "utils/srcs/gnl"]
	path = utils/srcs/gnl
	url = https://github.com/oevtushe/gnl.git
[submodule "utils/srcs/ft_printf"]
	path = utils/srcs/ft_printf
	url = https://github.com/oevtushe/ft_printf.git
